(speak_note_routes) {
	encode zstd gzip
	handle /api/* {
		reverse_proxy backend:8001
	}
	handle {
		reverse_proxy frontend:3000
	}
}

:8080 {
	import speak_note_routes
}

https://{$SPEAK_NOTE_HTTPS_HOST}:3443 {
	tls internal
	import speak_note_routes
}
